/.devcontainer/keys/*
!/.devcontainer/keys/.gitkeep
/.devcontainer/certs/*
!/.devcontainer/certs/mysql_ssl.cnf
!/.devcontainer/certs/.gitkeep
/vendor/
/node_modules/
/plugins/
.DS_Store*
/.env
composer.dev.json
composer.dev.lock